:host {
  #keys {
    min-height: 200px;
  }
  h3 {
    font-weight: bold;
    margin-bottom: 0;
  }
  a {
    width: 100%;
    text-align: left;
  }
  table {
    width: 100%;
  }
  .cdk-column-kid span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  #key-more-button {
    position: absolute;
    right: 24px;
    top: 24px;
  }
  .m--font-success {
    color: #34bfa3 !important;
  }
  .m--font-info {
    color: #36a3f7 !important;
  }
  .m--font-brand {
    color: #716aca !important;
  }

  .eidas-tag {
    white-space: nowrap;
    display: inline-flex;
    padding: 7px;
    border-radius: 25px;
    align-items: center;
    cursor: default;
    min-height: 20px;
    height: 1px;
    background-color: #9ac6e8;
    color: #000;
    font-size: 90%;
    margin: 0 5px;
  }

  table {
    width: 100%;
    .mat-column-actions {
      max-width: 40px;
    }
    tr {
      display: flex;
      flex-direction: row;
      & > td,
      & > th {
        flex: 1;
        display: flex;
        align-items: center;
      }
      &:last-child > td {
        border-bottom-width: 0px;
      }
    }
    td {
      width: 100px;
      & > span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
