<mat-card>
  <mat-card-content
    ><h1>Your organisation</h1>
    <mat-progress-bar [style.visibility]="isLoading ? 'visible' : 'hidden'" mode="indeterminate"></mat-progress-bar>
    <form
      *ngIf="organisation"
      (ngSubmit)="onSubmit()"
      #organisationForm="ngForm"
      class="m-form m-form--label-align-right"
    >
      <div class="m-portlet__body">
        <div class="m-form__section m-form__section--first">
          <mat-form-field>
            <input matInput placeholder="Id" [value]="organisation.id" disabled />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              placeholder="Name"
              [(ngModel)]="organisation.name"
              class="form-control m-input"
              type="name"
              id="name"
              name="name"
            />
          </mat-form-field>
          <mat-form-field>
            <textarea
              matInput
              placeholder="Description"
              [(ngModel)]="organisation.description"
              name="description"
              class="form-control m-input"
              id="description"
              rows="5"
            ></textarea>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex></div>
        <button [disabled]="isLoading" mat-raised-button color="accent" type="submit" class="btn btn-brand">
          Save
        </button>
      </div>
    </form>
  </mat-card-content>
  <!-- <mat-card-actions>
    <button
      mat-raised-button
      routerLink="/organisation"
      type="button"
      color="accent"
    >
      See more
    </button>
  </mat-card-actions> -->
</mat-card>
