<mat-toolbar>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>
    <span fxFlex> </span>
    <div fxLayout="row" fxLayoutAlign="start center">
      <a mat-button [href]="aboutLink" target="_blank">{{ 'FOOTER.ABOUT' | translate }}</a>
      <span>&bull;</span>
      <a mat-button [href]="policyLink" target="_blank">{{ 'FOOTER.POLICY' | translate }}</a>
      <span>&bull;</span>
      <a mat-button [href]="termsOfServiceLink" target="_blank">{{ 'FOOTER.TERMS' | translate }}</a>
    </div>
  </div>
</mat-toolbar>
