:host {
  #m_repeater_1 {
    margin: 10px 0;
  }
  .redirect-uri-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    mat-form-field {
      flex: 1;
    }
    button {
    }
  }
}
