<mat-progress-bar [style.visibility]="isLoading ? 'visible' : 'hidden'" mode="indeterminate"></mat-progress-bar>
<mat-card>
  <mat-card-content>
    <form #myForm [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput placeholder="ID" formControlName="id" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Status" formControlName="status" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Roles" formControlName="roles" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" />
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Description" formControlName="description" rows="3"></textarea>
      </mat-form-field>
      <mat-form-field>
        <textarea
          matInput
          rows="4"
          placeholder="redirect Uris (comma separated Uris)"
          formControlName="redirectUris"
        ></textarea>
        <mat-error
          *ngIf="
            formGroup.controls.redirectUris.hasError('validateMultipleUrls') && formGroup.controls.redirectUris.touched
          "
        >
          Malformed <strong>URLs</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Logo URI" type="text" formControlName="logoUri" />
        <mat-error *ngIf="formGroup.controls.logoUri.hasError('validateUrl') && formGroup.controls.logoUri.touched">
          Malformed <strong>URL</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Policy URI" type="text" formControlName="policyUri" />
        <mat-error *ngIf="formGroup.controls.policyUri.hasError('validateUrl') && formGroup.controls.policyUri.touched">
          Malformed <strong>URL</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Terms of service URI" type="text" formControlName="termsOfService" />
        <mat-error
          *ngIf="formGroup.controls.termsOfService.hasError('validateUrl') && formGroup.controls.termsOfService.touched"
        >
          Malformed <strong>URL</strong>
        </mat-error>
      </mat-form-field>
      <button mat-raised-button type="submit" color="accent" [disabled]="formGroup.invalid">
        {{ 'SAVE' | translate }}
      </button>
    </form>
  </mat-card-content>
</mat-card>
