<mat-card>
  <mat-card-title>Banks (ASPSPs)</mat-card-title>
  <mat-card-content>
    <table mat-table [dataSource]="aspsps">
      <ng-container matColumnDef="logoUri">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element"><img [src]="element.logoUri" alt="ASPSP logo" height="42" /></td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>
      <ng-container matColumnDef="financialId">
        <th mat-header-cell *matHeaderCellDef>Financial ID</th>
        <td mat-cell *matCellDef="let element">{{ element.financialId }}</td>
      </ng-container>
      <ng-container matColumnDef="asDiscoveryEndpoint">
        <th mat-header-cell *matHeaderCellDef>ASPSP-AS discovery endpoint</th>
        <td mat-cell *matCellDef="let element">
          <a href="{{ element.asDiscoveryEndpoint }}" target="_blank">OIDC Discovery</a>
        </td>
      </ng-container>
      <ng-container matColumnDef="rsDiscoveryEndpoint">
        <th mat-header-cell *matHeaderCellDef>ASPSP-RS discovery endpoint</th>
        <td mat-cell *matCellDef="let element">
          <a href="{{ element.rsDiscoveryEndpoint }}" target="_blank">RS Discovery</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="seeMore">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button [routerLink]="'/admin/aspsps/' + element.id" type="button" mat-raised-button color="primary">
            See more
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button type="button" (click)="createNewASPSP()" color="accent">Create a new ASPSP</button>
  </mat-card-actions>
</mat-card>
