<h1>Banks (ASPSPs)</h1>
<mat-card>
  <mat-card-content>
    <table mat-table [dataSource]="aspsps">
      <ng-container matColumnDef="logoUri">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          <img [src]="element.logoUri" onerror="this.style.display='none'" alt="ASPSP logo" height="42" />
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>
      <ng-container matColumnDef="financialId">
        <th mat-header-cell *matHeaderCellDef>Financial ID</th>
        <td mat-cell *matCellDef="let element">{{ element.financialId }}</td>
      </ng-container>
      <ng-container matColumnDef="asDiscoveryEndpoint">
        <th mat-header-cell *matHeaderCellDef>OIDC discovery endpoint</th>
        <td mat-cell *matCellDef="let element">
          <a href="{{ element.asDiscoveryEndpoint }}" target="_blank">OIDC Discovery</a>
        </td>
      </ng-container>
      <ng-container matColumnDef="rsDiscoveryEndpoint">
        <th mat-header-cell *matHeaderCellDef>ASPSP-RS discovery endpoint</th>
        <td mat-cell *matCellDef="let element">
          <a href="{{ element.rsDiscoveryEndpoint }}" target="_blank">RS Discovery</a>
        </td>
      </ng-container>
      <ng-container matColumnDef="transportKeys">
        <th mat-header-cell *matHeaderCellDef>Transport certs</th>
        <td mat-cell *matCellDef="let element">
          <a href="{{ element.transportKeys }}" target="_blank">Certificates chain</a>
        </td>
      </ng-container>
      <!-- <ng-container matColumnDef="applicationId">
            <th
              mat-header-cell
              *matHeaderCellDef
              fxHide.xs
              fxHide.sm
            > applicationId </th>
            <td
              mat-cell
              fxHide.xs
              fxHide.sm
              *matCellDef="let element"
            > {{element.applicationId}} </td>
          </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>
