@import 'mixins/breakpoints';

:host {
  .first-column {
    @include media-breakpoint-up('md') {
      margin-right: 16px;
    }
  }
  .ssa {
    word-wrap: break-word;
    font-size: medium;
    font-family: 'Roboto Mono', Menlo;
  }
  .jwtHeader {
    color: #0a6aa1;
  }
  .jwtClaims {
    color: #3d3698;
  }
  .jwtSignature {
    color: #1b6355;
  }

  .jwtHeaderDecoded__body,
  .jwtClaimsDecoded__body {
    white-space: pre-wrap;
  }
  #generate-button {
    margin-bottom: 16px;
  }
  #download-button {
    position: absolute;
    right: 24px;
    top: 24px;
  }
}
