<mat-card>
  <mat-card-title>Software statements</mat-card-title>
  <mat-card-content>
    <table mat-table [dataSource]="softwareStatements">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>
      <ng-container matColumnDef="applicationId">
        <th mat-header-cell *matHeaderCellDef fxHide.xs fxHide.sm>applicationId</th>
        <td mat-cell fxHide.xs fxHide.sm *matCellDef="let element">{{ element.applicationId }}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef fxHide.xs fxHide.sm>Name</th>
        <td mat-cell *matCellDef="let element" fxHide.xs fxHide.sm>{{ element.name }}</td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef fxHide.xs fxHide.sm>Description</th>
        <td mat-cell *matCellDef="let element" fxHide.xs fxHide.sm>{{ element.description }}</td>
      </ng-container>
      <ng-container matColumnDef="seeMore">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button
            routerLink="/software-statements/{{ element.id }}/general"
            mat-raised-button
            color="primary"
            class="see-more-button"
          >
            See more
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" (click)="deleteSoftwareStatement(element.id)">
            <mat-icon aria-label="Delete Software Statement">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button type="button" (click)="createSoftwareStatement()" color="accent">
      Create a new software statement
    </button>
  </mat-card-actions>
</mat-card>
