<mat-card>
  <mat-card-title>ASPSP {{ aspsp?.name }}</mat-card-title>
  <mat-card-content *ngIf="aspsp">
    <form (ngSubmit)="onSubmit()" #aspspForm="ngForm" class="m-form m-form--label-align-right">
      <mat-list>
        <mat-list-item>
          <h3>ID: {{ aspsp?.id }}</h3>
        </mat-list-item>
      </mat-list>

      <mat-form-field>
        <input matInput placeholder="Logo" [(ngModel)]="aspsp.logoUri" type="text" name="logo_uri" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Name" [(ngModel)]="aspsp.name" type="text" name="name" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Financial ID" [(ngModel)]="aspsp.financialId" type="text" name="financialId" />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="ASPSP-AS discovery endpoint"
          [(ngModel)]="aspsp.asDiscoveryEndpoint"
          type="text"
          name="asDiscoveryEndpoint"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="ASPSP-RS discovery endpoint"
          [(ngModel)]="aspsp.rsDiscoveryEndpoint"
          type="text"
          name="rsDiscoveryEndpoint"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Test MTLS endpoint"
          [(ngModel)]="aspsp.testMtlsEndpoint"
          type="text"
          name="testMtlsEndpoint"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Transport keys"
          [(ngModel)]="aspsp.transportKeys"
          type="text"
          name="transportKeys"
        />
      </mat-form-field>
      <button mat-raised-button type="submit" color="accent">Save</button>
    </form>
  </mat-card-content>
  <mat-card-actions> </mat-card-actions>
</mat-card>
