<mat-card>
  <mat-card-title>ASPSP {{ aspsp?.name }}</mat-card-title>
  <mat-card-content *ngIf="aspsp">
    <form (ngSubmit)="onSubmit()" #aspspForm="ngForm" class="m-form m-form--label-align-right">
      <mat-list>
        <mat-list-item>
          <h3>ID: {{ aspsp?.id }}</h3>
        </mat-list-item>
      </mat-list>

      <mat-form-field>
        <input matInput placeholder="Logo" [(ngModel)]="aspsp.logo_uri" type="name" id="logo_uri" name="logo_uri" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Name" [(ngModel)]="aspsp.name" type="name" id="name" name="name" />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Financial ID"
          [(ngModel)]="aspsp.financial_id"
          type="name"
          id="financial_id"
          name="financial_id"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="ASPSP-AS discovery endpoint"
          [(ngModel)]="aspsp.as_discovery_endpoint"
          type="name"
          id="as_discovery_endpoint"
          name="as_discovery_endpoint"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="ASPSP-RS discovery endpoint"
          [(ngModel)]="aspsp.rs_discovery_endpoint"
          type="name"
          id="rs_discovery_endpoint"
          name="rs_discovery_endpoint"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Test MTLS endpoint"
          [(ngModel)]="aspsp.test_mtls_endpoint"
          type="name"
          id="test_mtls_endpoint"
          name="test_mtls_endpoint"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Transport keys"
          [(ngModel)]="aspsp.transport_keys"
          type="name"
          id="transport_keys"
          name="transport_keys"
        />
      </mat-form-field>
      <button mat-raised-button type="submit" color="accent">Save</button>
    </form>
  </mat-card-content>
  <mat-card-actions> </mat-card-actions>
</mat-card>
