@import 'mixins/breakpoints';

:host {
  .first-column {
    @include media-breakpoint-up('md') {
      margin-right: 16px;
    }
  }
  .ssa {
    word-wrap: break-word;
    font-size: medium;
    font-family: 'Roboto Mono', Menlo;
  }
  .jwtHeader {
    color: #0a6aa1;
  }
  .jwtClaims {
    color: #3d3698;
  }
  .jwtSignature {
    color: #1b6355;
  }

  .jwtHeaderDecoded__body,
  .jwtClaimsDecoded__body {
    white-space: pre-wrap;
  }
  .generate {
    margin: 16px 0;
    text-align: center;
  }
  #download-button {
    position: absolute;
    right: 15px;
    top: 3px;
  }
}
