@import 'mixins/breakpoints';
@import '_variables';

@mixin forgerock-directory-app-toolbar-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  mat-toolbar.app-bar {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    z-index: 4;

    &.below {
      z-index: 2;
    }

    .mat-toolbar {
      position: relative;
      background: inherit;
      color: inherit;
    }

    .user-button {
      min-width: 64px;
      height: 64px;

      @include media-breakpoint-down('xs') {
        height: 56px;
      }
    }

    .navbar-toggle-button {
      min-width: 56px;
      height: 56px;
    }

    .toolbar-separator {
      height: 64px;
      width: 1px;
      background: rgba(0, 0, 0, 0.12);

      @include media-breakpoint-down('xs') {
        height: 56px;
      }
    }
  }
}
